body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url(canoe.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 350%;
}

p, span {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  padding: 16px 32px;
  border: 1px solid white;
}

.header-subtitle {
  color: #fefefe;
  max-width: 450px;
}

.content-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.85);
  margin: 16px;
}

.tab-container {
  display: flex;
  justify-content: flex-end;
  margin: 32px;
}

.tab-wrapper {
  padding: 0 16px;
  border-left: 1px solid #343d46;
}

.tab-wrapper:first-of-type {
  border: none;
}

.tab {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #343d46;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.post-wrapper {
  border-top: solid 1px #343d46;
  margin: 0 16px;
  padding: 16px 0;
  color: #fefefe;
}

.post-wrapper:first-of-type {
  margin-top: 0;
  border: none;
}

.post-title {
  text-transform: uppercase;
  color: #121212;
}

.post-content {
  color: #121212;
}
