body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url(canoe.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: #121212;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 350%;
}

p, span {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  padding: 16px 32px;
  border: 1px solid white;
}

.header-subtitle {
  color: #fefefe;
  max-width: 450px;
}

.content-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.4);
  margin: 16px;
}

.tab-container {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
  padding: 16px;
  align-self: flex-end;
}

.tab-wrapper {
  padding: 0 16px;
  border-left: 1px solid #343d46;
}

.tab-wrapper:first-of-type {
  border: none;
}

.tab {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #343d46;
}

.tab:hover {
  border-bottom: 1px solid #343d46;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.post-divider {
  margin: 16px;
  width: calc(100% - 32px);
  outline: none;
  border: none;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.3);
}

.post-divider:first-of-type {
  display: none;
}

.post-wrapper {
  margin: 16px;
  padding: 16px;
  color: #6d6d6d;
  background-color: white;
}

.post-title {
  color: #6d6d6d;
  text-transform: uppercase;
  word-wrap: break-word;
}

.post-date {
  padding: 4px 0;
  color: #8d8d8d;
}

.post-content {
  line-height: 24px;
  font: 112.5%;
  word-wrap: break-word;
}

.create-post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-button {
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 16px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.create-post-button:hover {
  border-bottom: 1px solid white;
}

.input-title {
  background: none;
  border: none;
  outline: none;
  max-width: 450px;
  font-size: 20px;
  font-family: 'Lora', serif;
  width: 100%;
  border-bottom: 1px solid #343d46;
  color: white;
  margin: 16px;
  margin-top: 64px;
}

.fr-box {
  width: 100%;
  max-width: 900px;
  margin: 16px;
}

#froala-editor {
  height: 300px;
}
