<!doctype html>
<title>Sam's Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Lora" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />

<!-- Content Starts Here -->
<div id="header-block">
  <a data-scroll class="header-text" href="#content">
    Sam Miller
  </a>
</div>

<div id="content">
  <div class="container">
    {% for post in posts %}
      <div class="post-wrapper" id="{{ post.id }}">
        <h2 class="post-title">{{ post.title }}</h2>
        <h5 class="post-date">{{ post.created_at|strftime }}</h4>
        <p class="post-content">
          {{ post.content|safe }}
        </p>
      </div>
      <hr class="small-divider" />
    {% endfor %}
  </div>
</div>

<!-- Particles Header -->
<div id="particles-js"></div>
<script type="text/javascript" src="{{ url_for('static', filename='js/particles.min.js') }}"></script>

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['\$$','\$$'], ['\[;','\;]']]}});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- Smooth Scroll -->
<script type="text/javascript" src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>

<!-- Main JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
