<!doctype html>
<title>Sam's Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Lora" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
<div class="wrapper">
  <div class="landing-container">
    <div class="header-container">
      <h1>Sam Miller</h1>
    </div>
    <p>
      <em>Subtitle Text here</em>
    </p>
  </div>
  <div class="content-container">
    <div class="tab-container">
      <div class="tab-wrapper"><a href="#" class="tab">Home</a></div>
      <div class="tab-wrapper"><a href="#" class="tab">Math</a></div>
      <div class="tab-wrapper"><a href="#" class="tab">Music</a></div>
      <div class="tab-wrapper"><a href="#" class="tab">Other</a></div>
      <div class="tab-wrapper"><a href="#" class="tab">About</a></div>      
    </div>
  </div>
</div>
