<!doctype html>
<title>Sam's Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Lora" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
<div class="wrapper">
  <div class="header-container scrollable" data-section-name="home">
    <div class="tabs-container">
      <a href="#" class="tab">Home</a>
      <a href="#" class="tab">Math</a>
      <a href="#" class="tab">Music</a>
      <a href="#" class="tab">Other</a>
      <a href="#" class="tab">About</a>
    </div>
    <div style="flex: 1"></div>
    <div class="header-text-container">
      <h1>Sam Miller</h1>
    </div>
    <span class="italic">
      Subtitle Text Here
    </span>
    <div style="flex: 1"></div>
    <div class="recent-posts-container">
      {% for post in posts %}
        <a href="#{{ post.id }}" class="recent-post">{{ post.short_title }}</a>
      {% endfor %}
    </div>
  </div>
  {% for post in posts %}
    <div class="post scrollable" data-section-name="{{ post.id }}">
      <div class="post-header-container">
        <h2>{{ post.title }}</h2>
        <h3>{{ post.created_at }}</h3>
      </div>
      <p class="post-text">
        {{ post.content|safe }}
      </p>
    </div>
  {% endfor %}
</div>
<script src="{{ url_for('static', filename='jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.scrollify.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
