<!doctype html>
<title>Sam's Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Lora" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
<div class="wrapper">
  <div class="header-container">
    <div class="tabs-container">
      <a href="#" class="tab">Home</a>
      <a href="#" class="tab">Math</a>
      <a href="#" class="tab">Music</a>
      <a href="#" class="tab">Other</a>
      <a href="#" class="tab">About</a>
    </div>
    <div class="header-text-container">
      <h1>Sam Miller</h1>
    </div>
    <span class="italic">
      Subtitle Text Here
    </span>
  </div>
  <div class="content-container">
    {% block posts %}{% endblock %}
  </div>
</div>
