html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: #121212;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 350%;
}

p, span {
  font-family: 'Lato', sans-serif;
}

#particles-js {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../assets/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px #666666;
  z-index: 1;
}

.header-text {
  font-family: 'Lora';
  font-size: 60px;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  border: 1px solid white;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
}

.header-text:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 1080px;
  margin: 0;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.post-divider {
  margin: 16px;
  width: calc(100% - 32px);
  outline: none;
  border: none;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.3);
}

.post-divider:first-of-type {
  display: none;
}

.post-wrapper {
  margin: 16px;
  padding: 16px;
  color: #6d6d6d;
}

.post-title {
  color: #6d6d6d;
  text-transform: uppercase;
  word-wrap: break-word;
}

.post-date {
  padding: 4px 0;
  color: #8d8d8d;
}

.post-content {
  line-height: 24px;
  font: 112.5%;
  word-wrap: break-word;
}
